body{
  background-color: rgba(249, 241, 241, 0.907);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
.fa{
  color:rgba(9, 118, 228, 0.922);
}
span{
  font-size: 13px;
  margin:15px 1px;
}
a{
  border-bottom: 1px solid rgba(9, 118, 228, 0.922);
}
.boxpart{
  background-color: white;
  padding: 60px 10px;
  margin:30px 1px;
}
.main{
  margin: 20px 1px;
}
.box{
  padding:50px 1px;
}
h1{
  text-align: center;
}